.body{
    margin: 0;
    padding: 0;
    height: 30vh;
    background-color: aqua;

    
}
.cardName{
    display: flex;;
    flex-direction: row;
    
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.container{
    position:relative;
    display: flex;
    flex-direction: row;
    max-height: max-content;
    align-items: center;
    justify-content: center;
}
.userInput{
    display: flex;
    justify-content: center;
}
.container>input{
    margin: 10px;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: arimo;
    font-size: 2.1rem;
    background: #eef2f3;
}
.btn{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    align-content: center;
}

.button{
    width: 150px;
    height: 40px;
  
    font-family: arimo;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    
    

}